.footer__column-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.footer__column-link:hover {
  color: #2f80ed;
}

.footer__column-link:hover .footer__social-icon {
  fill: #2f80ed;
}
